################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/GoogleCalendar_v3/v15
/GoogleCalender_Demo/.vs/GoogleCalender_Demo/v15
